
#newsfeed {
	position: relative;
	text-align: left;
	width: 500px;
}


#feed-to-write {
	margin: 10px;
	min-height: 200px;
	background-color: white;
	border: solid;
	border-width: 1px;
	border-radius: 3px;
	border-top-color: #e5e6e9;
	border-bottom-color: #d0d1d5;
	border-left-color: #dfe0e4;
	border-right-color: #dfe0e4;
}
.feed {
	margin: 10px;
	min-height: 400px;
	background-color: white;
	border: solid;
	padding: 10px;
	border-width: 1px;
	border-radius: 3px;
	border-top-color: #e5e6e9;
	border-bottom-color: #d0d1d5;
	border-left-color: #dfe0e4;
	border-right-color: #dfe0e4;
}

.likeButton {
    margin-right: 15px;
    border-style: none;
    background-image: url('./asset/unlike.png');
    background-image-border: none;
    width: 80px;
    height: 25px;
}

.commentButton {
    margin-right: 20px;
    border-style: none;
    background-image: url('./asset/comment.png');
    background-image-border: none;
    width: 80px;
    height: 25px;
}

.shareButton {
    border-style: none;
    background-image: url('./asset/share.png');
    background-image-border: none;
    width: 80px;
    height: 25px;
}
