
#newsfeed {
	position: relative;
	text-align: left;
	width: 500px;
}
#feed-to-write {
	margin: 10px;
	min-height: 200px;
	background-color: white;
	border: solid;
	border-width: 1px;
	border-radius: 3px;
	border-top-color: #e5e6e9;
	border-bottom-color: #d0d1d5;
	border-left-color: #dfe0e4;
	border-right-color: #dfe0e4;
}
.feed {
	margin: 10px;
	min-height: 400px;
	background-color: white;
	border: solid;
	border-width: 1px;
	border-radius: 3px;
	border-top-color: #e5e6e9;
	border-bottom-color: #d0d1d5;
	border-left-color: #dfe0e4;
	border-right-color: #dfe0e4;
}
