#body {
    text-align: center;
	background-color: whitesmoke;
}

#container {
    display: inline-block;
	padding-top: 60px; 
	width: 900px;
    height: 100%;
	background-color: whitesmoke;

}

.col {
	display: inline-block;
	background-color: rgba(1,1,1,0);
	vertical-align: top;
}

